<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style/about.css">
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="container">
      <div class="user-details">
        <div class="circler-user">
          <img src="/images/user/photo1.png" alt="">
        </div>
        <div class="box-about">
          <div>
            <span>Nome: <strong>Myke William</strong></span>
            <div class="lim-text">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fugit non, adipisci architecto hic, nostrum totam optio animi, odio corrupti commodi omnis enim tempora mollitia fuga nesciunt perferendis fugiat deleniti?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="container">
      <h4>Apresentação formal</h4>
      <div class="presentation">
        <iframe class="video-frame"  src="https://www.youtube.com" frameborder="0"  title="Youtube video player" allowfullscreen allow="autoplay; gyroscope" ></iframe>
      </div>
    </section>
    <div class="text-center mb-5">
      <button type="button" class="btn btn-light border">Download CV</button>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
