<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/style/home.css">
  <body>
    <%- include('./partials/header') %>
    <section class="h-flex">
      <div class="visited container c-flex">
        <div class="visited-text c-flex">
          <span class="text-center">Dev Web Full</span>
          <span>Stack</span>
        </div>
        <div class="bt-border">
          <button type="button" class="bt-primary">PROJECTS</button>
        </div>
      </div>
    </section>
    <section class="h-flex bg-light">
      <div class="container">
        <div class="gallery">
          <div class="gallery-item">
            <img src="images/projects/home.png" alt="">
          </div>
          <div class="gallery-item">
            <img src="images/projects/product.png" alt="">
          </div>
          <div class="gallery-item">
            <img src="images/projects/product.png" alt="">
          </div>
          <div class="gallery-item">
            <img src="images/projects/product.png" alt="">
          </div>
          <div class="gallery-item">
            <img src="images/projects/product.png" alt="">
          </div>
          <div class="gallery-item">
            <img src="images/projects/product.png" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="distance">
      <div class="min-profile">
        <div class="min-profile-text">
          <div class="p-text">
            <div class="text-end">
              <div>
                <span>Dev Web Full Stack</span>
              </div>
              <div>
                <span>Digital House Course</span>
              </div>
              <div>
                <span>Cruzeiro Do Sul Bachalerado</span>
              </div>
            </div>
          </div>
          <span class="m-2">MY SKILS</span>
          <div class="box-skils">
            <div class="skils">
              <div>Java Script</div>
              <div>Node</div>
              <div>MySql</div>
              <div>HTML</div>
              <div>CSS</div>
            </div>
          </div>
        </div>
        <div class="img-profile">
          <img src="/images/user/myke-william.png" alt="">
        </div>
      </div>
      <div class="profile-about">
        <div class="container">
          <div class="text-about">
            <h4>What is Lorem Ipsum?</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
