<header>
    <div class="container">
        <div class="group-link">
            <button type="button" class="btn" id="bt-home">Home</button>
            <button type="button" class="btn" id="bt-profile">Profile</button>
            <button type="button" class="btn" id="bt-project">Project</button>
            <button type="button" class="btn" id="bt-github">Git Hub</button>
            <button type="button" class="btn" id="bt-linkedn">Linked'n</button>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                <div class="dropdown-menu">
                    <a href="/profile" class="dropdown-item">Profile</button>
                    <a href="https://www.linkedin.com/in/myke-william-836381244/" target="_blank" class="dropdown-item">Linked'n</a>
                    <a href="https://github.com/williamOF" target="_blank" class="dropdown-item">Git Hub</a>
                </div>
            </div>
        </div>
    </div>
</header>